site_name: UI eXtension Documentation
docs_dir: source
theme:
  name: material
  variant: classic
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - toc.integrate
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.action.edit
  palette:
    - schema: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: assets/images/icon.png
  favicon: assets/images/icon.png
extra:
  generator: false
plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.blocks.caption
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
nav:
  - About: 'index.md'
  - Quick Start: 'quick-start.md'
  - Using UIX: 'using-uix.md'
  - FAQ: 'faq.md'
repo_url: https://github.com/Lint-Free-Technology/uix
repo_name: GitHub
edit_uri: blob/master/docs/source/
extra_css:
  - stylesheets/extra.css #https://maketintsandshades.com/#colors=CE3226&hashtag=0&steps=10